.visible-password {
  position: relative;

  .widget {
    cursor: pointer;
    display: inline-block;
    max-width: 32px;
    width: 19px;
    max-height: 32px;
    height: 19px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAcQAAAHEBHD+AdwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAI2SURBVFiF7dZNiE5RHMfxz31mZGy8NimimWGEnSnWUmiynM0syBQbCy87GhsrC2UhKVYiC1ZKSUaNhQ0JSSgTymIyzEiZl7zkWNyruZ6ee+7zaOrZzKlTt873/zu/c+45//9JQgia2SpNnX3ewLwBtP5vYJIkLehAF8YxEkKYbFin3muYJEkbBrAHG9CJBVXYR7zBE5wPIbwvFQ4hRDuW4STGEBrov3AdW6L6JZMfwbfIJOMYzlb9O8LdwtK6DUgP57mI4CV0VsUswX58KYh5hY5SA1iEmwUiX7G7ZNdW40FB/Bi2FRrIVj4cWflAjt2Kq3iO2ziESja2Ep8LNKbRU2TgcGTyOznuQHbIqpl7aMmY/ojWU7T+Y0B6pycjQXszritbRRF3IuNaMRPhjlcbGIrAARsz7mgJ9yyn+TDCzaC7AkmSrMVOxS3gXfa9LsJVj7+NcG3or0AI4QOuROAEm7LvlyUG8uObI9wELuZ/wXJpKi3asoMZ145PEW4g49rwM8Ltq3UL+iIBj/09uexSO+FcyGkdi2jdjSWiy5HAwRy3CoO4gbPYkRtbj6kCjVG5jFjLQIIzBcHfpfUhiWTCHrwuiH+BNXUVI2lmq5VsAu6jF+0Zu1CaGU9H/vsQFjdaDXullS5270fxIzI+le1oa8PlOFcf+vCoxEh1H8cprIjp1/0igiRJtpt9EXVL0/LC3E6MmH0RXQshTJdqNmKghqGKtPxO1DPZnBuYi9b0Z/m8gaYb+ANsaARxzWHazgAAAABJRU5ErkJggg==");
    background-size: cover;
    margin: 1px;
    padding: 0;
    position: absolute;
    top: 0px;
    right: 1px;
  }
}